<a href="https://colab.research.google.com/github/Mkhan512/Mkhan512/blob/main/Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
stdents_details={}

In [ ]:
names=(1:"ALi", 2:"Asif", 3:"subhan")
print(names[false])

SyntaxError: invalid syntax (<ipython-input-8-2818cffbbd58>, line 1)

In [ ]:
#code_08Class.ipynb

students : list[str ]= ["Alice", "Bob", "Charlie"]
scores : list[int] = [85, 92, 78]
index : int = students.index("Alice")
score : int = scores[index]
scores : dict{str,int} = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78
}

SyntaxError: invalid syntax (<ipython-input-4-ab8c654e522c>, line 7)

In [ ]:
print (" hello world")

 hello world

In [ ]:
def print_multiplication_table():
    # Define the range of numbers for the table
    start = 2
    end = 10

    # Print the header row
    header = " " * 5  # Initial spacing for the header row
    for i in range(start, end + 1):
        header += f"{i:4}"
    print(header)

    # Print the separator line
    print("-" * len(header))

    # Print the table rows
    for i in range(start, end + 1):
        row = f"{i:2} |"  # Row label
        for j in range(start, end + 1):
            row += f"{i * j:4}"
        print(row)

# Call the function to print the table
print_multiplication_table()

        2   3   4   5   6   7   8   9  10
-----------------------------------------
 2 |   4   6   8  10  12  14  16  18  20
 3 |   6   9  12  15  18  21  24  27  30
 4 |   8  12  16  20  24  28  32  36  40
 5 |  10  15  20  25  30  35  40  45  50
 6 |  12  18  24  30  36  42  48  54  60
 7 |  14  21  28  35  42  49  56  63  70
 8 |  16  24  32  40  48  56  64  72  80
 9 |  18  27  36  45  54  63  72  81  90
10 |  20  30  40  50  60  70  80  90 100

In [ ]:
# for loop draw a table 2 to 10
def print_multiplication_table():
    # Define the range of numbers for the table
    start = 2
    end = 10

    # Print the header row
    header = " " * 4  # Initial spacing for the header row
    for i in range(start, end + 1):
        header += f"{i:4}"
    print(header)

    # Print the separator line
    print("-" * len(header))

    # Print the table rows
    for i in range(start, end + 1):
        row = f"{i:2} |"  # Row label
        for j in range(start, end + 1):
            row += f"{i * j:4}"
        print(row)

# Call the function to print the table
print_multiplication_table()

       2   3   4   5   6   7   8   9  10
----------------------------------------
 2 |   4   6   8  10  12  14  16  18  20
 3 |   6   9  12  15  18  21  24  27  30
 4 |   8  12  16  20  24  28  32  36  40
 5 |  10  15  20  25  30  35  40  45  50
 6 |  12  18  24  30  36  42  48  54  60
 7 |  14  21  28  35  42  49  56  63  70
 8 |  16  24  32  40  48  56  64  72  80
 9 |  18  27  36  45  54  63  72  81  90
10 |  20  30  40  50  60  70  80  90 100

In [ ]:
# break loop
for table_no in range(2,11):
  for inner_val in range(1,11):
    if (table_no == 3 and inner_val >5):
     continue
    print(f"{table_no} X {inner_val} ={table_no * inner_val}")

2 X 1 =2
2 X 2 =4
2 X 3 =6
2 X 4 =8
2 X 5 =10
2 X 6 =12
2 X 7 =14
2 X 8 =16
2 X 9 =18
2 X 10 =20
3 X 1 =3
3 X 2 =6
3 X 3 =9
3 X 4 =12
3 X 5 =15
4 X 1 =4
4 X 2 =8
4 X 3 =12
4 X 4 =16
4 X 5 =20
4 X 6 =24
4 X 7 =28
4 X 8 =32
4 X 9 =36
4 X 10 =40
5 X 1 =5
5 X 2 =10
5 X 3 =15
5 X 4 =20
5 X 5 =25
5 X 6 =30
5 X 7 =35
5 X 8 =40
5 X 9 =45
5 X 10 =50
6 X 1 =6
6 X 2 =12
6 X 3 =18
6 X 4 =24
6 X 5 =30
6 X 6 =36
6 X 7 =42
6 X 8 =48
6 X 9 =54
6 X 10 =60
7 X 1 =7
7 X 2 =14
7 X 3 =21
7 X 4 =28
7 X 5 =35
7 X 6 =42
7 X 7 =49
7 X 8 =56
7 X 9 =63
7 X 10 =70
8 X 1 =8
8 X 2 =16
8 X 3 =24
8 X 4 =32
8 X 5 =40
8 X 6 =48
8 X 7 =56
8 X 8 =64
8 X 9 =72
8 X 10 =80
9 X 1 =9
9 X 2 =18
9 X 3 =27
9 X 4 =36
9 X 5 =45
9 X 6 =54
9 X 7 =63
9 X 8 =72
9 X 9 =81
9 X 10 =90
10 X 1 =10
10 X 2 =20
10 X 3 =30
10 X 4 =40
10 X 5 =50
10 X 6 =60
10 X 7 =70
10 X 8 =80
10 X 9 =90
10 X 10 =100

In [ ]:
# 2 to 10 Table print in for loop
for table_no in range(2,11):
  for inner_val in range(1,11):
    print(f"{table_no} X {inner_val} ={table_no * inner_val}")

2 X 1 =2
2 X 2 =4
2 X 3 =6
2 X 4 =8
2 X 5 =10
2 X 6 =12
2 X 7 =14
2 X 8 =16
2 X 9 =18
2 X 10 =20
3 X 1 =3
3 X 2 =6
3 X 3 =9
3 X 4 =12
3 X 5 =15
3 X 6 =18
3 X 7 =21
3 X 8 =24
3 X 9 =27
3 X 10 =30
4 X 1 =4
4 X 2 =8
4 X 3 =12
4 X 4 =16
4 X 5 =20
4 X 6 =24
4 X 7 =28
4 X 8 =32
4 X 9 =36
4 X 10 =40
5 X 1 =5
5 X 2 =10
5 X 3 =15
5 X 4 =20
5 X 5 =25
5 X 6 =30
5 X 7 =35
5 X 8 =40
5 X 9 =45
5 X 10 =50
6 X 1 =6
6 X 2 =12
6 X 3 =18
6 X 4 =24
6 X 5 =30
6 X 6 =36
6 X 7 =42
6 X 8 =48
6 X 9 =54
6 X 10 =60
7 X 1 =7
7 X 2 =14
7 X 3 =21
7 X 4 =28
7 X 5 =35
7 X 6 =42
7 X 7 =49
7 X 8 =56
7 X 9 =63
7 X 10 =70
8 X 1 =8
8 X 2 =16
8 X 3 =24
8 X 4 =32
8 X 5 =40
8 X 6 =48
8 X 7 =56
8 X 8 =64
8 X 9 =72
8 X 10 =80
9 X 1 =9
9 X 2 =18
9 X 3 =27
9 X 4 =36
9 X 5 =45
9 X 6 =54
9 X 7 =63
9 X 8 =72
9 X 9 =81
9 X 10 =90
10 X 1 =10
10 X 2 =20
10 X 3 =30
10 X 4 =40
10 X 5 =50
10 X 6 =60
10 X 7 =70
10 X 8 =80
10 X 9 =90
10 X 10 =100

In [ ]:
friends: str=["Ali", "Ahmed"",""Zubair"]
for friend in friends:
  print(friends)

['Ali', 'Ahmed,Zubair']
['Ali', 'Ahmed,Zubair']

In [ ]:
#slice Index Code
students: list[str] =["Asim", "Naveed","Zunair","Junaid", "Naveed"]
print(f"My Name is {students[1]}")
print(f"Students Names are = {students[1:4]}")

# Shello copy example
print(f"Student list = {students[:]}")

numbers: list[int]= [1,2,3,4,5,6,7,7,8,9,10]
print(f" List is= {numbers[:-1:2]}")
print(f"2nd list is= {numbers[:1:2]}")

My Name is Naveed
Students Names are = ['Naveed', 'Zunair', 'Junaid']
Student list = ['Asim', 'Naveed', 'Zunair', 'Junaid', 'Naveed']
 List is= [1, 3, 5, 7, 8]
2nd list is= [1]

In [ ]:
# difference between shallow copy and deep copy
# SHALLOW COPY=

old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 'a']]
new_list = old_list

new_list[2][2] = 9

print('Old List:', old_list)
print('ID of Old List:', id(old_list))

print('New List:', new_list)
print('ID of New List:', id(new_list))

#Got it! Here’s an example of how to create a shallow copy of a list in Python, but this time I’ll break it down into multiple lines for clarity:
import copy

# Original list
original_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Creating a shallow copy
shallow_copied_list = copy.copy(original_list)

# Modifying the shallow copy
shallow_copied_list[0][0] = 'X'

print("Original list:", original_list)
print("Shallow copied list:", shallow_copied_list)

# Example of Deep Copy

import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

old_list[1][0] = 'BB'
print("Example of Deep Copy is =")
print("Old list:", old_list)
print("New list:", new_list)

Old List: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
ID of Old List: 134179346926848
New List: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
ID of New List: 134179346926848
Original list: [['X', 2, 3], [4, 5, 6], [7, 8, 9]]
Shallow copied list: [['X', 2, 3], [4, 5, 6], [7, 8, 9]]
Example of Deep Copy is =
Old list: [[1, 1, 1], ['BB', 2, 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [ ]:
#nested List (2 dementional)
students: list[str] = [["Amjid", 65,78,89],["Naveed", 85,90,95],["Zameer", 75,88,99]]

print(f"lsit 1 =,{students[0][3]},\nlist 2={students[1][2]}, \nlist 3={students[2][0]}")

lsit 1 =,89,
list 2=90,
list 3=Zameer

In [ ]:
# 3 dementional List
three_dem_list= [
   [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ],
    [
        [10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]
    ],
    [
        [19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]
    ]
]
print(f" {three_dem_list[0][0][2]}\n{three_dem_list[1][1][1]}\n{three_dem_list[2][1][2]}")

 3
14
24

In [ ]:
# if, elif, else condition Examples
weather : str = "sunny"

if weather == "snowfall":
    print("It's a beautiful day! Go for a walk.")
else:
    print("Read the book")
    weather: str="Snowfall"
massege: str="Drink cold Coffee" if weather=="hot" else "drink Coffee"
print(massege)

Read the book
drink Coffee

In [ ]:
# if else condition
x = 10
y = 20

# Using a conditional operator
max_value = x  if x > y else y

print(max_value)  # Output will be 20

20

In [ ]:
#nested Condition Example
is_member : bool = True
purchase_amount : int = 250

if is_member:
    if purchase_amount >200:
        print("You are eligible for a 10% discount!")
    else:
        print("Spend more than $200 to get a discount.")
else:
    print("Become a member to enjoy discounts.")

You are eligible for a 10% discount!

In [ ]:
# Function to grade a student based on marks
def grade_student(marks):
    return (
        'A' if marks >= 90 else
        'B' if marks >= 80 else
        'C' if marks >= 70 else
        'D' if marks >= 60 else
        'F'
    )

# Example usage
marks = 85
grade = grade_student(marks)
print(f"Marks: {marks}, Grade: {grade}")  # Output: Marks: 85, Grade: B

Marks: 85, Grade: B

In [ ]:
#example of Marks
marks = 93
grade =(
        'A' if marks >= 90 else
        'B' if marks >= 80 else
        'C' if marks >= 70 else
        'D' if marks >= 60 else
        'F'
)
print(f" Marks: {marks} Grade: {grade}")

 Marks: 93 Grade: A

In [ ]:
# calculator Assignment-1
a = int(input("Enter number1= "))
b = int(input ("Enter number2= "))
print(f"\nAddition = {a+b}\nSubtraction = {a - b} \nMultiplication = {a*b} \nDivision = {a/b} \nModulus = {a%b} \nRound-Val = {a // b} \nPower of Value = {a ** b}")

Enter number1= 8
Enter number2= 2

Addition = 10
Subtraction = 6
Multiplication = 16
Division = 4.0
Modulus = 0
Round-Val = 4
Power of Value = 64

In [ ]:
#Asignment-2 Student result (Grading)
school_name: str = "        IMCB I-10/2, Islamabad        "
student_name: str = "Imtiaz Alam"
student_rollno: int = "Roll No:         12560"
class_name: str = "Class :       9th"
English : float = 93
Urdu : float = 91
Physics : float = 94
Chemistery : float =86.6
Pakstudy : float = 92
print(F"School Name= {school_name} \nStudent Name = {student_name}\n{student_rollno}\n{class_name}\nEnglish =  {English}\nUrdu =  {Urdu}\nPhysics =  {Physics}\nChemistery =  {Chemistery}\nPakstudy =  {Pakstudy}\n")
Total_Marks = 500
Obtaine_Marks = English+Urdu+Physics+Chemistery+Pakstudy
print("Total Marks = ",Total_Marks)
print(f"Obtaine_Marks = {Obtaine_Marks} ")
average = float((Obtaine_Marks/Total_Marks)*100)
print("Average =" ,average)
if average >=90:
  print("Grade =", 'A+')
if average <90  >80 :
  print("Grade =", 'A')
if average <80 :
  print("Grade =", 'B')

School Name=         IMCB I-10/2, Islamabad
Student Name = Imtiaz Alam
Roll No:         12560
Class :       9th
English =  93
Urdu =  91
Physics =  94
Chemistery =  86.6
Pakstudy =  92

Total Marks =  500
Obtaine_Marks = 456.6
Average = 91.32000000000001
Grade = A+

In [ ]:
# Integer
integer_value: int=23
print (integer_value)

23

In [ ]:
# string
a_string = "Hello, World!"
print(a_string)

Hello, World!

In [ ]:
# Float
float_value: float=12.6
print (float_value)

12.6

In [ ]:
# Complex
complex_value = 1 + 2j
print("Complex:", complex_value)
complex_value = 1 + 2*8/2
print("Complex:", complex_value)

Complex: (1+2j)
Complex: 9.0

In [ ]:
from re import X
# None
value = None
print("NoneType:", value)
none_value = "this is none Value"
print("NoneType:", none_value)

NoneType: None
NoneType: this is none Value

In [ ]:
x = None
Y = 5
print ("X is equal:", x)
name= "23"
if name is name:
  print("Value is String")
  print("Value is Integer")

X is equal: None
Value is String
Value is Integer

In [ ]:
name= "M.ALI"
print (name)
number= "100"
print (number)
name: str= "Pakistan"
first_num: int= 5
first_float: float =5.0
str1 = "Hello World"
print(len(str1))  # Output: 11
print(str1)
result_equal: bool = 5 == 5
print(result_equal)
result_not_equal: bool = 10 !=11
result_greater_than: bool = 8 > 3
result_less_than: bool = 6 < 9
result_greater_equal: bool = 5 >= 5
result_less_equal: bool = 3 <= 4
print(result_not_equal)
print(result_greater_than)

M.ALI
100
11
Hello World
True
True
True

# Python Collections (Arrays)
There are four collection data types in the Python programming language:

**List** is a collection which is ordered and changeable. Allows duplicate members.<br/>
**Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.<br/>
**Set** is a collection which is unordered, unchangeable, and unindexed. No duplicate members.<br/>
**Dictionary** is a collection which is ordered and changeable. No duplicate members.

In [ ]:
# new list
student=["ALi","Zubair","Ahemd","Muneer","Hashim"]
print(student)

['ALi', 'Zubair', 'Ahemd', 'Muneer', 'Hashim']

In [ ]:
#print length of list
print(len(student))

5

In [ ]:
#list items data types
# lists items can be different data types like.....
fruits = ["apple", "banana", "cherry"]
integer = [1, 5, 7, 9, 3]
bool = [True, False, False]
print(f"Fruits ={fruits}\nNumbers= {integer}\nbool_values={bool}")
print(fruits[1],integer[3])

Fruits =['apple', 'banana', 'cherry']
Numbers= [1, 5, 7, 9, 3]
bool_values=[True, False, False]
banana 9

In [ ]:
#A list can contain different data types:
list =["English",67,"Urdu",87, "Math",78]
print(list)

['English', 67, 'Urdu', 87, 'Math', 78]

In [ ]:
# Access List items by reffering through index number
print(list[3])
print(fruits[2])
print(student[1])

87
cherry
Zubair

In [ ]:
# Negative Indexing
# Negative indexing means start from the end
books=["Arabic","Urdu","PakStudy","English","Physics","Chemistery","Computer","Histry"]
print(books[-1])

Histry

In [ ]:
# Range of List
print(books[1:6]) #print list from index 1 to 5
print(books[:6]) #print list from index 0 to 5
print(books[6:]) #print remaining list index 6 to onword
print(books[2:-1:])  #print list from index 2 to 6
# out put   ['Urdu', 'PakStudy', 'English', 'Physics', 'Chemistery']
#           ['Arabic', 'Urdu', 'PakStudy', 'English', 'Physics', 'Chemistery']

['Urdu', 'PakStudy', 'English', 'Physics', 'Chemistery']
['Arabic', 'Urdu', 'PakStudy', 'English', 'Physics', 'Chemistery']
['Computer', 'Histry']
['PakStudy', 'English', 'Physics', 'Chemistery', 'Computer']

In [ ]:
print(books[1:-4])

['Urdu', 'PakStudy', 'English']

In [ ]:
# Check if Item Exists
# To determine if a specified item is present in a list use the in keyword:
books=["Arabic","Urdu","PakStudy","English","Physics","Chemistery","Computer","Histry"]
if "Urdu" in books:
  print("Yes Urdu is included in books List")

Yes Urdu is included in books List

# New Section

In [ ]:
#string comparison
str1 = "Hello"
str2 = "World"
print(str1 == str2)  # Output: False
print(str1 != str2)  # Output: True
print(str1 < str2)   # Output: True (since "H" comes before "W" lexicographically)

False
True
True

#escap Sequence
print("Python Programming in \"PIAIC\"")
print("Python Programming in \\PIAIC")
print("Python Programming in \nPIAIC")
print("Python Programming in \tPIAIC")
print("Python Programming in PIAIC\rpiaic")
print("Python Programming in a\bPIAIC")
print("Python Programming in \aPIAIC")

In [ ]:
# @title Default title text
#String Formatting (%, .format(), f-strings)
name = "Alice"
age = 30

# Using % operator
print("My name is %s and I am %d years old." % (name, age))  # Output: "My name is Alice and I am 30 years old."
name = "Samina"
age = 35
# Using .format()
print("My name is {} and I am {} years old.".format(name, age))  # Output: "My name is Alice and I am 30 years old."
name = "Zafar"
age = 25
# Using f-strings (Python 3.6+)
print(f"My name is {name} and I am {age} years old.")  # Output: "My name is Alice and I am 30 years old."


#Assigment Operator

My name is Alice and I am 30 years old.
My name is Samina and I am 35 years old.
My name is Zafar and I am 25 years old.

In [ ]:
#escape sequences
print("Python Programming in \"PIAIC\"")
print("Python Programming in \\PIAIC")
print("Python Programming in \nPIAIC")
print("Python Programming in \tPIAIC")
print("Python Programming in PIAIC\rpiaic")
print("Python Programming in a\bPIAIC")
print("Python Programming in \aPIAIC")
print("Python Programming in \bPIAIC")

Python Programming in "PIAIC"
Python Programming in \PIAIC
Python Programming in
PIAIC
Python Programming in 	PIAIC
piaic
Python Programming in aPIAIC
Python Programming in PIAIC
Python Programming in PIAIC

In [ ]:
# list and index

Student_name =["ALI", "Munir", "Eshrat"]
print (Student_name [2])

#remove the value from llist
colours = ["Black","Green","White"]
popped_value = colours.pop()
print(popped_value)

Eshrat
White

In [57]:
#Reverse a list in Python
list_num =[100, 200,300,400,500,600]
print(list_num[4::-1])
list_num.reverse()
print(list_num)
list1 = ["F","E","D","C","B","A"]
list1 = list1[5::-1]
print(list1)

[500, 400, 300, 200, 100]
[600, 500, 400, 300, 200, 100]
['A', 'B', 'C', 'D', 'E', 'F']

In [71]:
from typing import Concatenate
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = list1[3]+list2[0]
print(list3)
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

Key
['My', 'name', 'is', 'Kelly']

In [75]:
#apend function in list
list1 = ['a', 'b' , 'c']
list2 = [1, 2, 3]
for x in list2:
  list3 =list1.append(x)
  print(list1)

['a', 'b', 'c', 1]
['a', 'b', 'c', 1, 2]
['a', 'b', 'c', 1, 2, 3]

In [82]:
# turn every no of list in to squire
number_list = [1,2,3,4,5,6]
number_list2= []
for i in number_list:
  number_list2 = i * i
  print(number_list2)
  # useing append function
  numbers = [1, 2, 3, 4, 5, 6, 7]
# result list
res = []
for i in numbers:
    # calculate square and add to the result list
    res.append(i * i)
print(res)

1
4
9
16
25
36
[1, 4, 9, 16, 25, 36, 49]

In [83]:
#useing comprehension in list
numbers = [1, 2, 3, 4, 5, 6, 7]
res = [x * x for x in numbers]
print(res)

[1, 4, 9, 16, 25, 36, 49]

In [88]:
#Concatenate two lists in the following order
# ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']
str1 = ["Hello ", "take "]
str2 = ["Dear", "Sir"]
str3 = [i + j for i in str1 for j in str2]
print(str3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [96]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i,j in zip(list1 , list2[::-1]):
  print(i,j)

10 400
20 300
30 200
40 100