<a href="https://colab.research.google.com/github/Mkhan512/Mkhan512/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# list and index

Student_name =["ALI", "Munir", "Eshrat"]
print (Student_name [2])

#remove the value from llist
colours = ["Black","Green","White"]
popped_value = colours.pop()
print(popped_value)

Eshrat
White

In [2]:
#Reverse a list in Python
list_num =[100, 200,300,400,500,600]
print(list_num[4::-1])
list_num.reverse()
print(list_num)
list1 = ["F","E","D","C","B","A"]
list1 = list1[5::-1]
print(list1)

[500, 400, 300, 200, 100]
[600, 500, 400, 300, 200, 100]
['A', 'B', 'C', 'D', 'E', 'F']

In [3]:
#from typing import Concatenate
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = list1[3]+list2[0]
print(list3)
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

Key
['My', 'name', 'is', 'Kelly']

In [4]:
#apend function in list
list1 = ['a', 'b' , 'c']
list2 = [1, 2, 3]
for x in list2:
  list3 =list1.append(x)
  print(list1)

['a', 'b', 'c', 1]
['a', 'b', 'c', 1, 2]
['a', 'b', 'c', 1, 2, 3]

In [5]:
# turn every no of list in to squire
number_list = [1,2,3,4,5,6]
number_list2= []
for i in number_list:
  number_list2 = i * i
  print(number_list2)
  # useing append function
  numbers = [1, 2, 3, 4, 5, 6, 7]
# result list
res = []
for i in numbers:
    # calculate square and add to the result list
    res.append(i * i)
print(res)

1
4
9
16
25
36
[1, 4, 9, 16, 25, 36, 49]

In [6]:
#useing comprehension in list
numbers = [1, 2, 3, 4, 5, 6, 7]
res = [x * x for x in numbers]
print(res)

[1, 4, 9, 16, 25, 36, 49]

In [7]:
#Concatenate two lists in the following order
# ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']
str1 = ["Hello ", "take "]
str2 = ["Dear", "Sir"]
str3 = [i + j for i in str1 for j in str2]
print(str3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i,j in zip(list1 , list2[::-1]):
  print(i,j)

10 400
20 300
30 200
40 100